# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.suo
MainForm/bin/Debug/MainForm.exe.config
*.pdb
*.cache
MainForm/obj/Debug/MainForm.DataViewControl.resources
*.resources
MainForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MainForm/bin/Debug/MainForm.vshost.exe.config
MainForm/bin/Release/MainForm.exe.config
MainForm/bin/Debug/MainForm.vshost.exe.manifest
